Routes==1.12.3
WebOb==1.2b2
json-schema-validator==2.1
lxml==2.3.1
mercurial==1.9.3
git+https://github.com/ericmoritz/nanoweb.git
nose==1.1.2
pyquery==1.0
simplejson==2.2.1
wsgiref==0.1.2
requests==0.14.1
